*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.background_main{
    width: 100%;
    height: 60vh;
    background-color: blue;
    background-size: cover;
    background-position: center;
    position: absolute;
    overflow-x: hidden;
}

.buttonprice button{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 1rem;
    background-color: red;
    color: white;
    width: 230px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(1, 1, 1, 0.555);
    position: relative;
    top: 12.5vh;
    left: 62.2%;
    text-align: left;
    padding-left: 10px;
}

.buttonprice button:hover{
    background-color: white;
    color: black;
    width: 235px;
    height: 45px;
    transition: 0.3s;
}

.dinheiro h1{
    font-family: "Rubik Mono One", monospace;
    font-style: normal;
    position: relative;
    left: 87%;
    top: 2vh;
    color: rgb(0, 131, 0);
    font-size: 1.9rem;
    letter-spacing: 0;
    font-weight: 500;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

}

.container_titulo .h1{
    font-family: "Dancing Script", cursive;
    background: -webkit-linear-gradient(rgb(90, 90, 90), rgb(255, 255, 255), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
    font-weight: 700;
    position: relative;
    left: 25%;
    top: 17vh;
    padding: 10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    
}

.container_titulo .h2{
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: rgb(126, 0, 0);
    position: relative;
    left: 33.5%;
    top: 12.5vh;
    font-weight: 700;
    font-size: 2.5rem;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.container_titulo .h3 span{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: rgb(126, 0, 0);
    position: relative;
    left: 25%;
    top: 11vh;
    font-weight: 500;
    font-size: 2.4rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.container_titulo .h3 .p{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: rgb(255, 255, 255);
    position: relative;
    left: 25%;
    top: 10vh;
    font-weight: 400;
    font-size: 1.45rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.background_red{
    width: 100%;
    height: 100vh;
    background-image: url(img/fundoimgred.jpg);
    background-size: cover;
    background-position: center;
}

.container_carros{
    background-color: rgb(41, 0, 0);
    width: 1000px;
    position: relative;
    margin: auto;
    top: 55vh;
    height: 45vh;
    border: 2px solid rgb(121, 0, 0);
    border-radius: 3px;
}   

.container_botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featured button{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 1rem;
    background-color: red;
    color: white;
    width: 185px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(1, 1, 1, 0.494);
}

.twodoor button{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 1rem;
    background-color: red;
    color: white;
    width: 185px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(1, 1, 1, 0.494);
}

.fourdoor button{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 1rem;
    background-color: red;
    color: white;
    width: 185px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(1, 1, 1, 0.494);
}

.motorcycles button{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 1rem;
    background-color: red;
    color: white;
    width: 185px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(1, 1, 1, 0.494);
}

.special button{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 1rem;
    background-color: red;
    color: white;
    width: 185px;
    height: 50px;
    margin-right: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.494);
}

.background_red .container_carros .container_botoes .featured :hover{
    background-color: white;
    color: black;
    width: 200px;
    height: 60px;
    transition: 0.3s;
}

.background_red .container_carros .container_botoes .twodoor :hover{
    background-color: white;
    color: black;
    width: 200px;
    height: 60px;
    transition: 0.3s;
}

.background_red .container_carros .container_botoes .fourdoor :hover{
    background-color: white;
    color: black;
    width: 200px;
    height: 60px;
    transition: 0.3s;
}

.background_red .container_carros .container_botoes .motorcycles :hover{
    background-color: white;
    color: black;
    width: 200px;
    height: 60px;
    transition: 0.3s;
}

.background_red .container_carros .container_botoes .special :hover{
    background-color: white;
    color: black;
    width: 200px;
    height: 60px;
    transition: 0.3s;
}

.container_featured{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    overflow-y: scroll;
    height: 37vh;
}

.container_featured .card1{
    margin: auto;
    position: relative;
    background-color: rgb(194, 194, 194);
    width: 300px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.container_featured .card1 h1{
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.container_featured .card1 img{
    width: 297px;
}

.container_featured .card2{
    margin: auto;
    position: relative;
    background-color: rgb(194, 194, 194);
    width: 300px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.container_featured .card2 h1{
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.container_featured .card2 img{
    width: 297px;
}

.container_featured .card3{
    margin: auto;
    position: relative;
    background-color: rgb(194, 194, 194);
    width: 300px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.container_featured .card3 h1{
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.container_featured .card3 img{
    width: 297px;
}

.container_featured .card4{
    margin: auto;
    position: relative;
    margin-top: 20px;
    background-color: rgb(194, 194, 194);
    width: 300px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.container_featured .card4 h1{
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.container_featured .card4 img{
    width: 297px;
}

.container_featured .card5{
    margin: auto;
    position: relative;
    margin-top: 20px;
    background-color: rgb(194, 194, 194);
    width: 300px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.container_featured .card5 h1{
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 28px;
}

.container_featured .card5 img{
    width: 297px;
}

.container_featured .card6{
    margin: auto;
    position: relative;
    margin-top: 20px;
    background-color: rgb(194, 194, 194);
    width: 300px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.548);
}

.container_featured .card6 h1{
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 28px;
}

.container_featured .card6 img{
    width: 297px;
}

.discription_card1{
    position: relative;
    top: -0.4vh;
    left: -0.5%;
    width: 300px;
    height: 30px;
    color: white;
    background-color: black;
}

.discription_card1 h3{
    font-size: 1rem;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 8px    
}

.card1 button {
    border: none;
    font-size: 1rem;
    position: relative;
    top: -3.3vh;
    left: 66.7%;
    color: white;
    background-color: red;
    border-radius: 2px;
    width: 100px;
    height: 28px;
}

.discription_card2{
    position: relative;
    top: -0.4vh;
    left: -0.5%;
    width: 300px;
    height: 30px;
    color: white;
    background-color: black;
}

.discription_card2 h3{
    font-size: 1rem;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 8px    
}

.card2 button {
    border: none;
    font-size: 1rem;
    position: relative;
    top: -3.3vh;
    left: 66.7%;
    color: white;
    background-color: red;
    border-radius: 2px;
    width: 100px;
    height: 28px;
}

.discription_card3{
    position: relative;
    top: -0.4vh;
    left: -0.5%;
    width: 300px;
    height: 30px;
    color: white;
    background-color: black;
}

.discription_card3 h3{
    font-size: 1rem;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 8px    
}

.card3 button {
    border: none;
    font-size: 1rem;
    position: relative;
    top: -3.3vh;
    left: 66.7%;
    color: white;
    background-color: red;
    border-radius: 2px;
    width: 100px;
    height: 28px;
}

.discription_card4{
    position: relative;
    top: -0.4vh;
    left: -0.5%;
    width: 300px;
    height: 30px;
    color: white;
    background-color: black;
}

.discription_card4 h3{
    font-size: 1rem;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 8px    
}

.card4 button {
    border: none;
    font-size: 1rem;
    position: relative;
    top: -3.3vh;
    left: 66.7%;
    color: white;
    background-color: red;
    border-radius: 2px;
    width: 100px;
    height: 28px;
}

.discription_card5{
    position: relative;
    top: -0.4vh;
    left: -0.5%;
    width: 300px;
    height: 30px;
    color: white;
    background-color: black;
}

.discription_card5 h3{
    font-size: 1rem;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 8px    
}

.card5 button {
    border: none;
    font-size: 1rem;
    position: relative;
    top: -3.3vh;
    left: 66.7%;
    color: white;
    background-color: red;
    border-radius: 2px;
    width: 100px;
    height: 28px;
}

.discription_card6{
    position: relative;
    top: -0.4vh;
    left: -0.5%;
    width: 300px;
    height: 30px;
    color: white;
    background-color: black;
}

.discription_card6 h3{
    font-size: 1rem;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 8px    
}

.card6 button {
    border: none;
    font-size: 1rem;
    position: relative;
    top: -3.3vh;
    left: 66.7%;
    color: white;
    background-color: red;
    border-radius: 2px;
    width: 100px;
    height: 28px;
}